@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
  margin: 0;
  background-color: #323232;
}
/* Typography */
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
textarea {
  resize: none;
}

::selection {
  background: #f9e6db;
  color: #1e1c19;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

@supports (scrollbar-color: auto) {
  * {
    scrollbar-width: thin;
  }
}
